doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        |
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        |
        meta(name='description', content='Real-time chat application')
        |
        meta(name='author', content='kaibin yu')
        |
        title Noqu - Why wait when there's Opportunity
        // Bootstrap core CSS
        link(href='/assets/theme/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/assets/css/noqubot.css')
        link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
        // Custom styles for this template
        link(href='/assets/css/small-business.css', rel='stylesheet')

        script(src='/assets/theme/vendor/jquery/jquery.min.js')

        block extraHeader
    |
    body
        // Navigation
        a(href='/')
            img#sticker(src='/assets/img/cat.gif')
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a.navbar-brand(href='/') noQu
                |
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                |
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        if session === false
                            li.nav-item
                                a.nav-link(href='/registration') Register
                            |
                            li.nav-item
                                a.nav-link(href='/login') Login
                        else
                            li.nav-item
                                a.nav-link(href="/user/profile") Profile
                            |
                            li.nav-item
                                a.nav-link(href="/user/logout") Logout

        // Block Content

        block content
            // /.container
        // Bootstrap core JavaScript
        |
        script(src='/assets/theme/vendor/bootstrap/js/bootstrap.bundle.min.js')
        |
        script(src='/assets/js/noqubot.js')

