extends ../share/layout
block extraHeader
    <script src="/socket.io/socket.io.js"></script>
block content
    div.container
        div#title
            h3 #{error}
        form(name="newConfig", method="post", action='/user/chat/chatroom' )
            p Enter Your Room Id (Room Id " Hy4Rqryzf " is open for testing):
            input(type="text", placeholder="eg: 5342", name="roomId")
            div#formButton
                button.btn(type="submit") submit
                a(href="/user/config")
                    button.btn#cancelButton(type="button") Cancel

        div
            p if your want create your room
            ol
                li login and create new room with private set
                li copy room uuid and your are free to go
