extends ../share/layout
block content
    .container
        br
        br

    .container
        h1.
            Send Emaill
        form(method="post", action="/service/resetPassword/sendEmail")
            input(type="txt", name="mytxt")
            input(type="submit" value="send")

    script.
        start = new Date();
        function a() {
            setTimeout(function () {
                d = new Date();
                console.log("aaaaaaaaaaaaa " + (d.getTime() - start.getTime()));
            }, 5000);
        }
        function b() {
            setTimeout(function () {
                d = new Date();
                console.log("bbbbbbbbb " + (d.getTime() - start.getTime()));
            }, 1000);
        }
        function c(){
            a();
            b();
        }
        c();
    //-
        .container
            h1.
                Delete File
            form(method="post",action="/user/files/remove/asd")
                input(type="txt", name="mytxt")
                input(type="file", name="file")
                input(type="submit" value="delete")

        .container
            h1.
                Download File
            form(method="post",action="/user/files/download/asd")
                input(type="txt", name="mytxt")
                input(type="file", name="file")
                input(type="submit" value="download")
