
<link rel="stylesheet" href="/assets/css/chat.css">

<style>
    .fixed-top{
        position: relative;
    }
    li.login.page{
        height: 90%;
    }

</style>
<% layout('/html/share/layout.html') -%>
<div id="my_top_menu">
    <a href="/user/chat/quit" class="btn btn-info btn-lg">Quit Room</a>
</div>

<ul class="pages">
    <li class="chat page">

        <div class="chatArea">
            <div class="table messages">
            </div>
        </div>


        <div class="col-xs-9">
            <div id="inputMessage" contenteditable="true" class="inputMessage"> </div>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-info btn-lg" id="message">Submit</button>
        </div>

    </li>

    <li class="login page">
        <div class="form">
            <h3 class="title">What's your nickname?</h3>
            <input class="usernameInput" type="text" maxlength="14" />
            <button class="btn btn-info btn-lg" id="nickName">Submit</button>
            <h3 class="title" id="hint"></h3>
        </div>
    </li>
</ul>

<!--
    <select id="roomid" style="position: fixed;top: 10px; height:2rem; width: 80px; display: -webkit-box;">
        <option value="room1">Room 1</option>
        <option value="room2">Room 2</option>
        <option value="room3">Room 3</option>
    </select>
-->
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/chat.js"></script>
