extends ./share/layout
block extraHeader
block content
    // Page Content
    .container
        // Heading Row
        .row.my-4
            .col-lg-8
                img#headImage.img-fluid.rounded(src='http://res.cloudinary.com/he3vux9xr/image/upload/v1512625477/site/fallout_fbwuvq.jpg', alt = '')
            // /.col-lg-8
            .col-lg-4
                h1 Our Goal : Better
                    |
                p
                    |  What are you waiting for? join us right now, all services are free!!!
                a.btn.btn-primary.btn-lg(href="/user/chat") My chat room
        .card.text-white.bg-secondary.my-4.text-center
            .card-body
                p.text-white.m-0
                    | Noqu Bot: a Real-Time online chat web application
        .row
            .col-md-4.mb-4
                .card.h-100
                    .card-body
                        h2.card-title User Services
                            |
                            p.card-text
                            if session === true
                                div
                                    a.btn.btn-primary.service(href="/user/profile") My Profile
                                div
                                    a.btn.btn-primary.service(href="/user/room") My Room & Config
                                div
                                    a.btn.btn-primary.service(href="/user/allRooms") Join Room
                            else
                                //p you need login to check other services
                                div
                                    a.btn.btn-primary.service(href='/registration') Register
                                div
                                    a.btn.btn-primary.service(href='/login') Login
            .col-md-4.mb-4
                .card.h-100
                    .card-body
                        h2.card-title My Service
                            |
                            p.card-text
                                |
                            div
                                a.btn.btn-primary.service(href="/user/chat") My chat room
            .col-md-4.mb-4
                .card.h-100
                    .card-body
                        h2.card-title Something else
                        |
                        p.card-text
                            | 👈 My Chat Room Does not require login/Registration, Try it free
                    |
    // Footer
    footer.py-5.bg-dark
        .container
            p.m-0.text-center.text-white Copyright &copy; NoquBot 2017