extends ./share/layout
block extraHeader
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
block content
    // Page Content
    .container
        // Heading Row
        h1(style="color:red;") site under maintain (网站还在开发）
        .row.my-4
            .col-lg-8
                img#headImage.img-fluid.rounded(src='http://res.cloudinary.com/he3vux9xr/image/upload/v1512625477/site/fallout_fbwuvq.jpg', alt='')
            // /.col-lg-8
            .col-lg-4
                h1 Our Business : Be Success
                |
                p
                    |  What are you waiting for? join us right now, all registration and account are free to use!!!!
                |
                a.btn.btn-primary.btn-lg(href='/registration') Register
            // /.col-md-4
        // /.row
        // Call to Action Well
        .card.text-white.bg-secondary.my-4.text-center
            .card-body
                p.text-white.m-0
                    | Noqu Bot
        // Content Row
        .row
            .col-md-4.mb-4
                .card.h-100
                    .card-body
                        h2.card-title User Profile
                        |
                        p.card-text
                        p
                            a(href="/user/profile") My Profile
                    |
                    .card-footer
                        a.btn.btn-primary(href='#') More Info
            // /.col-md-4
            .col-md-4.mb-4
                .card.h-100
                    .card-body
                        h2.card-title My Service
                        |
                        p.card-text
                            |
                        if session === true
                            div
                                a(href="/user/room") My Game Room
                            div
                                a(href="/user/config") My Config Room
                            div
                                a(href="/user/chat") My chat room
                        else
                            div
                                a(href="/user/chat") My chat room
                            p you need login to check other services
                    |
                    .card-footer
                        a.btn.btn-primary(href='#') More Info
            // /.col-md-4
            .col-md-4.mb-4
                .card.h-100
                    .card-body
                        h2.card-title Something else
                        |
                        p.card-text
                            |
                        p
                            a(href="/test") Testing Function Link (only available if under dev environment)

                    |
                    .card-footer
                        a.btn.btn-primary(href='#') More Info
            // /.col-md-4
        // /.row
    // /.container
    // Footer
    footer.py-5.bg-dark
        .container
            p.m-0.text-center.text-white Copyright &copy; NoquBot 2017