extends ./share/layout
block content
  .container
    #title
      h1.
        #{title}
    form(method="post",action="/login")
      p Email:
        input(type="text", placeholder="eample@gmail.com", name="email")
      p Password:
        input(type="text", placeholder="123456", name="password")
      P#signUpMessage Don't have an account? &nbsp
        a(href='/registration') Sign up »
      div#formButton
        button.btn(type="submit") submit
        a(href="/")
          button.btn#cancelButton(type="button") Cancel


