extends layout
block content
    .container
        #title
            h1.
                #{title}
        form(name="addUser",method="post",action="/registration")
            div User Name:
            input#inputName(type="text", placeholder="ex. John Smith", name="username")
            div Password:
                input#inputBadge(type="text", placeholder="ex. 123456", name="password")
            div Email:
                input#inputDob(type="text", name="email")
            div#formButton
                button.btn(type="submit") submit
                a(href="/")
                    button.btn#cancelButton(type="button") Cancel
