extends ./share/layout
block extraHeader

block content

    .modal-dialog
        .modal-content
            .modal-header
                .col-md-12
                    h1.text-center Can't sing in? Forget your password?
            .modal-body
                .col-md-12
                    .panel.panel-default
                        .panel-body
                            .text-center
                                p
                                    | Enter your email address below and we'll send you password reset instructions.
                                .panel-body
                                    fieldset
                                        form.omb_loginForm(action='/service/resetpassword', autocomplete='off', method='post')
                                            .form-group
                                                b Enter your email address
                                                input.form-control.input-lg(placeholder='E-mail Address', name='email', type='email')
                                            input.btn.btn-lg.btn-primary.btn-block(value='Send me reset instructions', type='submit')
            .modal-footer
                .col-md-12
                    span
                        | A note about spam filters
                    p
                        | If you don't get an email from us within a few minutes please be sure to check your spam filter.
                    span.help-block #{error}
                        | &#x9;&#x9;&#x9;&#x9;&#x9;