extends ./share/layout
block content
    div.container
      div#title
        h1 noQu
      //input(type="text", pattern="[^ @]*@[^ @]*", placeholder="eample@gmail.com", name="email")
      form(method="post", action="/login")
        p.fa.fa-user-o  Email:
        input(type="text", placeholder="eample@gmail.com", name="email")
        p.fa.fa-lock  Password:
        input#password(type="password", placeholder="Your Password", name="password")
        script.
            function show(){
                var p = document.getElementById('password');
                p.setAttribute('type', 'text');
                document.getElementById('eye').className = 'fa fa-eye-slash';
            };
            function hide() {
                var p = document.getElementById('password');
                p.setAttribute('type', 'password');
                document.getElementById('eye').className = 'fa fa-eye';
            };
            var isShow = 0;
            function showHidePassword() {
                if (isShow == 0) {
                    isShow = 1;
                    show();
                } else {
                    isShow = 0;
                    hide();
                }
            };
        a.btn(href="#" onclick='showHidePassword()')
          div.fa.fa-eye#eye
        P#signUpMessage Don't have an account? &nbsp
          a(href='/registration') Sign up »
        p
            a.btn.btn-lg.btn-block.omb_btn-facebook(href='/auth/facebook')
                i.fa.fa-facebook.visible-xs
                    | &#x9;&#x9;&#x9;
                    span.hidden-xs &nbsp Facebook
        div#formButton
          button.btn(type="submit") submit
          a(href="/")
            button.btn#cancelButton(type="button") Cancel
