
* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html, input {
    font-family:
            "HelveticaNeue-Light",
            "Helvetica Neue Light",
            "Helvetica Neue",
            Helvetica,
            Arial,
            "Lucida Grande",
            sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 80%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 60%;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

/* Chat page */

.chat.page {
    display: none;
}

/* Font */

.message {
    font-size: 14px;
}

.log {
    color: gray;
    font-size: 100%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 80%;
    margin-left: 10px;

}

.messages {
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message {
    overflow-wrap: break-word;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: left;
    width:20%;
}

/*
    customer scroll bar style
 */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    /**
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    **/

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.my_body{
    overflow: hidden;
}

a.btn.btn-info.btn-lg{
    font-size: 1rem;
}

/** chat text box **/

a.col-lg-3.btn.send-message-btn {
    width: 50%;
    text-align: left;
}
a.col-lg-4.text-right.btn.send-message-btn.pull-right {
    width: 50%;
}
a.pull-left {
    margin-right: 10px;
}

.message-wrap
{
    box-shadow: 0 0 3px #ddd;
    padding:0;

}
.msg
{
    padding:5px;
    /*border-bottom:1px solid #ddd;*/
    margin:0;
}
.msg-wrap
{
    padding:10px;
    max-height: 400px;
    overflow: auto;

}

.time
{
    color:#bfbfbf;
}

.send-wrap
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:10px;
    /*background: #f8f8f8;*/
}

.send-message
{
    resize: none;
}

.highlight
{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    border-bottom-right-radius: 0;
}
.btn-panel
{
    background: #f7f7f9;
}

.btn-panel .btn
{
    color:#b8b8b8;

    transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
    color:#666;
    background: #f8f8f8;
}
.btn-panel .btn:active
{
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

    background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
    border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
    color:#003bb3;
    font-weight: 700;
}


.msg-date
{
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}

.msg-information
{
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}

.msg-linebreak
{
    background: none;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}

body::-webkit-scrollbar {
    width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*        -webkit-border-radius: 10px;
            border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*        -webkit-border-radius: 10px;
            border-radius: 10px;*/
    background:#ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
}
small.col-lg-10{
    word-break: break-all;
    word-wrap: break-word;
    padding-left: 0px !important;
}

.media.msg.message.msg-linebreak{
    padding-bottom: 0.5rem;
}

a#HideChat{
    float: right;
}

li.chat.page{
    padding-top: 10px;
}