
* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html, input {
    font-family:
            "HelveticaNeue-Light",
            "Helvetica Neue Light",
            "Helvetica Neue",
            Helvetica,
            Arial,
            "Lucida Grande",
            sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 80%;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 60%;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

/* Chat page */

.chat.page {
    display: none;
}

/* Font */

.message {
    font-size: 14px;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 100%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 80%;
    margin-left: 10px;

}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message {
    max-height: 50%;
    overflow-y: scroll;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: left;
    width:20%;
}

/* Input */

.inputMessage {
    border: 2px solid #ced4db;
    bottom: 4rem;
    max-height: 90px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    left:10px;
    position: fixed;
    width: 80%;
    background-color: white;
}

button#nickName {
    width: 30%;
}

button#message {
    position: fixed;
    font-size: 80%;
    bottom: 4rem;
    right: 10px;
}

input#inputMessage{
    width: 60% !important;
    margin-left: 10px; !important;
}


/*
    customer scroll bar style
 */

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    /**
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    **/

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.my_body{
    overflow: hidden;
}

a.btn.btn-info.btn-lg{
    font-size: 1rem;
}

/** chat text box **/

.direct-chat-text::after, .direct-chat-text::before {

    border-color: transparent #dfece7 transparent transparent;

}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border-radius: 2px;
    color: #1f2121;
}
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border-radius: 10px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}
