
@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Light), url("../fonts/Quicksand/Quicksand-Light.otf") format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Light Italic), url("../fonts/Quicksand/Quicksand-LightItalic.otf") format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Italic), url("../fonts/Quicksand/Quicksand-Italic.otf") format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Regular), url("../fonts/Quicksand/Quicksand-Regular.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Dash), url("../fonts/Quicksand/Quicksand-Dash.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Bold), url("../fonts/Quicksand/Quicksand-Bold.otf") format("otf");
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Bold Italic), url("../fonts/Quicksand/Quicksand-BoldItalic.otf") format("otf");
  font-weight: 700;
}

.brand-logo{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  margin-left: 10px;
}

.user-logo{
  background-color: black;
}

#nav-mobile a.button-collapse{
  display: initial;
}

#title{
  text-align: center;
}
#cancelButton{
  margin-left: 30px;
}
#formButton{
  text-align: center;
}
#headImage{
  height: 250px;
}

p#signUpMessage {
  font-size: 12px;
  text-align: -webkit-center;
}
input[type="text"], input[type="password"]{
  padding: 5px;
  font-size: -webkit-xxx-large;
}

p.fa.fa-lock, p.fa.fa-user-o {
  font-size: xx-large;
}
div#eye {
  font-size: 25px;
  margin-top: 5px;
}