extends ../share/layout
block extraHeader

block content

    .modal-dialog
        .modal-content
            .modal-header
                .col-md-12
                    h1.text-center Reset You Password
            .modal-body
                .col-md-12
                    .panel.panel-default
                        .panel-body
                            .text-center
                                p
                                    |
                                .panel-body
                                    fieldset
                                        form.omb_loginForm(action='/service/resetpassword/receivePasswordToken/'+token_id, autocomplete='off', method='post')
                                            .form-group
                                                b Enter your new password below
                                                input.form-control.input-lg#id_password.password(type='password', name='password', placeholder='Password')
                                                b confirm password
                                                input.form-control.input-lg#id_confirm_password.password(type='password', name='confirm-password', placeholder='Password')
                                                span.input-group-addon
                                                    i.btn#eyebutton(href="#" onclick='showHidePassword()')
                                                        span.fa.fa-eye#eye
                                            input.btn.btn-lg.btn-primary.btn-block#submit_form(value='Send me reset instructions', type='submit', disabled="disabled")
            .modal-footer
                .col-md-12
                    div#my-hint &nbsp
                    span.help-block #{error}
                        | &#x9;&#x9;&#x9;&#x9;&#x9;

    script(src='/assets/js/password-confirm.js')
