extends ../share/layout
block content
    div.container
        div#title
            h3 404 NOT FOUND
                h4
                h4 is not exist

            .row
                .col-md-12
                    .error-template
                        .error-details
                            | Sorry, an error has occured, Requested page
                            br
                            span(style="color:red;")
                                | "https://my-noqubot.herokuapp.com#{url}"
                            br
                            |    not found!
                        .error-actions
                            a.btn.btn-primary.btn-lg(href='/')
                                span.glyphicon.glyphicon-home
                                |                         Take Me Home
                            a.btn.btn-default.btn-lg(href='/')
                                span.glyphicon.glyphicon-envelope
                                |  Contact Support
